body {font-family: Arial, Helvetica, sans-serif;margin:1em;}
#map { height: 80vh; margin-top: 1em;}
footer {
  font-weight: lighter;
  text-align: center; 
  text-transform: uppercase;
  margin: 1em;
}