body {font-family: Arial, Helvetica, sans-serif;font-size:18px;}
#map { height: 75vh; margin-top: 1em;}
footer {
  font-weight: lighter;
  text-align: center; 
  margin: 1em;
}
footer p {
  text-transform: uppercase;
}
@media screen and (max-width:768px) {
  #select-location {
    margin-bottom: 1em;
    width: 100%;
  }
}
