body {font-family: Arial, Helvetica, sans-serif;margin:1em;}
#map { height: 75vh; margin-top: 1em;}
footer {
  font-weight: lighter;
  text-align: center; 
  margin: 1em;
}
footer span {
  text-transform: uppercase;
}